* {
  box-sizing: border-box;
  /* color: #333; */
}

body {
  background-color: #81a69b;
  background-image: linear-gradient(
      rgba(49, 170, 240, 0.5),
      rgba(12, 40, 199, 0.5)
    ),
    url(https://m.media-amazon.com/images/M/MV5BZmJjMDVjZWItOGRlYy00ZTM5LWE1ZTktY2I0YTA4ZTlmMGY3XkEyXkFqcGdeQXVyOTc5MDI5NjE@._V1_.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.BandClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin: 25px 0 -20% 0;
  padding: 10px 0 -50px 0;
  justify-content: space-between;
  line-height: 1px;
  font-weight: lighter;
  -webkit-text-stroke: 0.2px black;
}

.BandClass h2 {
  font-size: 1.3em;
}
.BandClass h3 {
  font-size: 0.8em;
}

.Pic {
  /* flex-wrap: wrap; */
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  margin-top: 10px;
}
.Pic:hover {
  transform: scale(1.1);
}

.dates {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  margin: 1.5em auto 0 auto;
}

.main-header {
  text-align: center;
  color: #ffffff;
  background-color: rgba(228, 32, 195, 0.788);
  padding: 0.1px 0 1px 0;
  opacity: 90%;
}
.main-header h1 {
  font-size: 20px;
}

.topnav {
  background-color: rgba(228, 32, 195, 0.788);
  overflow: hidden;
  padding: 0.2px 0 10px 0;
  text-align: center;
  opacity: 90%;
  border-bottom: black;
}
.topnav a {
  /* float: left; */
  margin: 0 auto 0 auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px 14px 26px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(228, 32, 195);
  color: black;
}
.topnav a.active {
  /* background-color: #4caf50; */
  color: white;
}

.button1 {
  display: flex;
  padding: 0.3em 3em;
  border: 0.1em solid #ffffff;
  background-color: #e97407;
  margin: 1.5em auto 0 auto;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.button1 a {
  text-decoration: none;
  color: #ffffff;
}
.button1 a:hover {
  text-decoration: none;
  color: #000000;
}
.button1:hover {
  color: #000000;
  background-color: #e9c007;
}

#About {
  padding: 50px;
  text-align: justify;
  margin: 0 50px 0 50px;
  color: wheat;
}

@media (min-width: 576px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .BandClass {
  }

  .Pic {
    width: 80%;
    height: auto;
    margin-bottom: 20%;
    align-content: center;
  }

  .main-header h1 {
    font-size: 30px;
  }
}
